*{
  margin: 0px;
  padding: 0px;
}
body{
    background-color: rgb(25, 101, 126);
    text-align: center;
  }
div{
  /*background-color: white;*/
  color: orange;
}
#resultsDiv{
  color: black;
  font-size: 20px;
  font-weight: 800;
}